<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sfthriftstore</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <nav class="navbar">

    <!-- LOGO -->
    <div class="logo">
        <a href="/">
            <img src="/images/sfthriftstore.jpg" alt="Logo">
        </a>
        <span style="font-size:x-large;">sfthriftstore</span>
    </div>
   

    <form action="/search" method="GET" class="classic-search">

    <input
        type="text"
        name="query"
        placeholder="Search products..."
        required
    >

   <button type="submit" class="img-btn">
    🔍
</button>

</form>

    <div class="menu-toggle" onclick="toggleMenu(this)">
    ☰
</div>

    <!-- LINKS -->
    <ul class="nav-links" id="nav-links">

        <li><a href="/">Home</a></li>
       <li> <a href="/products">Shop</a></li> 
        <li><a href="/orders">Orders</a></li>
        <li><a href="/cart">Cart</a></li>
        <li><a href="/contact"> Contact</a></li>

   

        <% if(user?.isAdmin){ %>
            <li><a href="/admin">Admin</a></li>
        <% } %>

       

        <% if(user){ %>

<li class="profile">

    <a href="#" onclick="toggleProfile(event)">
        HELLO <%= user.name.toUpperCase() %>
    </a>

    <ul class="dropdown" id="profileMenu">

        <li><a href="/orders">My Orders</a></li>

        <% if(user.isAdmin){ %>
            <li><a href="/admin">Admin Panel</a></li>
        <% } %>

        <li><a href="/logout">Logout</a></li>

    </ul>

</li>

<% } else { %>

<li><a href="/login">Login</a></li>

<% } %>

    </ul>

</nav>

<script>

function toggleMenu(btn) {

    const menu = document.getElementById("nav-links");

    menu.classList.toggle("active");

    btn.classList.toggle("open");

    btn.innerHTML = menu.classList.contains("active")
        ? "✖"
        : "☰";
}

/* PROFILE DROPDOWN */
function toggleProfile(e){

    e.preventDefault();

    document.getElementById("profileMenu")
    .classList.toggle("show");
}

</script>
</body>